<div class='pg_note'>
  <h2>Prototype: Filesender + PostGuard</h2>
  <p>
    This is a prototype,
    integrating <a href='https://postguard.eu'>PostGuard</a> (PG) into
    Filesender. PG is an encryption service that is privacy- and
    user-friendly. Using PG, uploaders nolonger have to manually
    distribute the encryption password to the recipients. To use PG
    you'll need to download <a href='https://www.yivi.app/'>Yivi</a> on
    your smartphone. For more details see the
    <a href='https://gitlab.com/postguard-filesender/thesis'>thesis</a>
    I wrote about this.
  </p>
  <h2>Note</h2>
  <ul class='pg_note'>
    <li><strong>IMPORTANT:</strong> This prototype is provided without
      a logging in mechanism and hence every upload is visible to
      everyone and decryptable by anyone, so do <strong>not</strong>
      upload personal things.</li>
    <li>PostGuard only works when uploading normal files, not archives
      such as zip or tar.</li>
    <li>The prototype uses demo Yivi attributes that can be retrieved by
      anyone. Simply scan the QR code with your Yivi app and follow the
      instructions on your screen. This is also true for the email
      addresses of the recipients.</li>
  </ul>
</td>
</div>
